#navbarCont {
	background: white linear-gradient(to bottom, rgba(252, 92, 124, 0.438), rgba(106, 130, 251, 0.038));
	cursor: auto;
}
#navbarCont a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

#heading > a {
	font-size: 1.5em;
}
#heading {
	padding: 5px 10px;
	font-family: "Yeon Sung", "CarrickDancing", serif;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

#navbar {
	display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(12, 12, 12); */
    flex-direction: row;
    flex-wrap: wrap;
}
#navbar a {
	color: black;
	font-size: 1.1em;
	display: block;
	padding: 8px 1.3em;
	text-decoration: none;
}
#navbar a:hover {
	color: white;
	background-color: #404041ed;
}
