.adminPages {
	overflow: hidden;
	& > * {
		overflow: auto;
	}
	.dashboard {
		color: red;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-content: space-around;
		align-items: center;
		row-gap: 3em;
		column-gap: 2.5em;
		padding: 10px 10px 40px 10px;
		.blocks {
			color: rgb(43, 43, 43);
			min-height: 100px;
			background-color: white;
			border: 1px solid gray;
			aspect-ratio: 1/1;
			min-width: 280px;
			width: 45%;
			max-width: 300px;
			padding: 10px;
			border-radius: 10px;
			box-shadow: 0 0 7px #ece9e9;
			box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
			transition: all 200ms ease-in-out;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: stretch;
			justify-content: space-between;
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
				box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
				box-shadow:
					rgba(0, 0, 0, 0.25) 0px 14px 28px,
					rgba(0, 0, 0, 0.22) 0px 10px 10px;
			}
			.details {
				height: 100%;
				h1,
				h2,
				h3 {
					color: #1f1f1f;
				}
				& > div {
					display: block;
					padding: 6px;
					border-radius: 7px;
					&:hover {
						// border: 1px dotted rgb(207, 207, 207);
					}
				}
			}
			a {
				text-align: right;
				.button-48 {
					appearance: none;
					background-color: #ffffff;
					border-width: 0;
					box-sizing: border-box;
					color: #000000;
					cursor: pointer;
					display: inline-block;
					font-family: Clarkson, Helvetica, sans-serif;
					font-size: 14px;
					font-weight: 500;
					letter-spacing: 0;
					line-height: 1em;
					margin: 0;
					opacity: 1;
					outline: 0;
					padding: 1em 2em;
					position: relative;
					text-align: center;
					text-decoration: none;
					text-rendering: geometricprecision;
					text-transform: uppercase;
					transition:
						opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
						background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
						color 100ms cubic-bezier(0.694, 0, 0.335, 1);
					user-select: none;
					touch-action: manipulation;
					vertical-align: baseline;
					white-space: nowrap;
					span {
						display: flex;
						z-index: 1;
						position: relative;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: center;
						gap: 5px;
					}
					&:before {
						animation: opacityFallbackOut 0.5s step-end forwards;
						backface-visibility: hidden;
						background-color: #ebebeb;
						clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
						content: "";
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						transform: translateZ(0);
						transition:
							clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
							-webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
						width: 100%;
					}
					&:hover:before {
						animation: opacityFallbackIn 0s step-start forwards;
						clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
					}
					&:after {
						background-color: #ffffff;
					}
				}
			}
		}
	}
	.admission {
		color: rgb(44, 44, 44);
		// border: 1px dashed;
		padding: 5px;
		.eachAdmissionQuery {
			border-bottom: 1px solid black;
			padding: 3px 0;
			border-radius: 4px;
			margin-bottom: 10px;
			&:nth-child(even) {
				background: rgb(247, 247, 247);
			}
			&:hover {
				background: rgb(240, 239, 239);
			}
			& > .head {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				gap: 1em;
				padding: 5px;
				border-bottom: 1px dotted gray;
				& > .danceForm {
					background-color: rgba(230, 230, 230, 0.507);
					padding: 2px 5px;
					border-radius: 5px;
					&:hover {
						background-color: rgba(230, 230, 230, 0.74);
					}
				}
			}
			& > .details {
				padding: 2px 9px;
				& > .detailsAction {
					display: flex;
					color: red;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-end;
					align-items: center;
					gap: 10px;
					& > button {
						padding: 3px 7px;
						background: white;
						border-radius: 4px;
						outline: none;
						cursor: pointer;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;
						column-gap: 4px;
						&.edit {
							border: 1px solid green;
							&:hover {
								background-color: green;
								color: white;
							}
						}
						&.delete {
							border: 1px solid #ff8383;
							&:hover {
								background-color: #ff8383;
								color: black;
							}
						}
					}
				}
			}
		}
		.actionButtons {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-evenly;
			align-items: center;
			padding: 0.5em 1.8em;
		}
		.actionButtons button {
			padding: 0.5em 1.5em;
			font-size: 1em;
			border: 1px solid #130f29;
			box-shadow: 0px 0px 3px #cccccc;
			border-radius: 5px;
			transition: all 150ms ease;
		}
		.actionButtons button:hover {
			background-color: rgb(225, 225, 225);
			box-shadow: 2px 2px 3px #797979;
		}
	}
	.queries {
		// color: green;
		.queryList {
			max-width: 100%;
			overflow: auto;
			table {
				// border: 1px solid #6f6f6f61;
				background-color: #e6f4ec7b;
				border-top: none;
				padding: 5px;
				margin-top: 1em;
				width: 100%;
				thead tr {
					th {
						background-color: rgba(202, 249, 223, 0.902);
						border-bottom: 1px dotted gray;
						padding: 4px 8px;
						text-transform: capitalize;
						white-space: nowrap;
					}
				}
				tbody tr {
					// border-: 1px dotted gray;
					td {
						padding: 8px 10px;
						border: none;
					}
					&:nth-child(even) {
						background-color: mintcream;
					}
					&:hover {
						background-color: #e6f4ecbb;
					}
				}
			}
		}
	}
	.classes {
		color: rgb(236, 32, 144);
	}
	.users {
		.AddNewAction {
			// background-color: rgba(224, 224, 224, 0.301);
			padding: 4px 10px;
			border: 1px solid rgba(192, 192, 192, 0.333);
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			border-radius: 4px;
			.addNewUserBtn {
				border: 1px solid #0b0f3b;
				padding: 4px 8px;
				border-radius: 5px;
				text-transform: uppercase;
				&:hover {
					transition: all 200ms ease-out;
					background-color: #0d1250;
					color: white;
				}
			}
		}

		.usersList {
			max-width: 100%;
			overflow: auto;
			table {
				// border: 1px solid #6f6f6f61;
				background-color: #e6f4ec7b;
				border-top: none;
				padding: 5px;
				margin-top: 1em;
				width: 100%;
				thead tr {
					th {
						background-color: rgba(202, 249, 223, 0.902);
						border-bottom: 1px dotted gray;
						padding: 4px 8px;
						text-transform: capitalize;
						white-space: nowrap;
					}
				}
				tbody tr {
					// border-: 1px dotted gray;
					td {
						padding: 8px 10px;
						border: none;
					}
					&:nth-child(even) {
						background-color: mintcream;
					}
					&:hover {
						background-color: #e6f4ecbb;
					}
				}
			}
		}
	}

	.registerSection {
		// background: radial-gradient(rgb(250, 254, 242) 0% 45%, rgb(136, 213, 230));
		// height: 90dvh;
		margin-top: 4em;
		// width: 100dvw;
		display: grid;
		place-content: center;
		justify-items: center;
		align-items: center;
		justify-content: center;
		align-content: center;
		& > .form {
			border: 1px solid black;
			width: 50dvw;
			font-size: 1.25rem;
			min-width: 350px;
			max-width: 550px;
			padding: 1rem 3rem 2rem 3rem;
			border-radius: 8px;
			background-color: white;
			transition: all 150ms ease;
			max-height: 93%;
			overflow: auto;
			margin: 1rem;
			&:hover {
				box-shadow: 0 0 5px gray;
			}
		}
	}
}
