#mainContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	min-height: 100vh;
	min-width: 370px;
	justify-content: flex-start;
	background-color: white;
}
#navbar {
    background-color: #d8d8d8bd;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    font-size: 1.15rem;
    position: sticky;
    transition: all 200ms ease;
    top: 0;
    min-height: 15em;
    height: 100dvh;
    min-width: 55px;
    overflow: auto;
}
.navFull {
	width: 280px;
}
.navIconsOnly {
	width: 4rem;
}
.navIconsOnly .eachOption {
	/* display: grid; */
	place-items: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	padding: 5px;
}
.navbarOptions {
	display: flex;
	padding: 1rem;

	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	/* gap: 0.9em; */
	font-size: 1.23rem;
}
.menuSwitch {
	cursor: pointer;
	font-size: 1.2em;
}
.eachOption {
	cursor: pointer;
	width: 100%;
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding: 5px 10px 5px 3px;
	justify-content: flex-start;
	gap: 0.3em;
	border-radius: 3px;
	margin-top: 15px;
}
.eachOption:hover {
	box-shadow: 1px 2px 4px gray;
	margin-top: 17px;
}
.profile {
	padding: 1rem;
	display: flex;
	background-color: rgb(239, 238, 238);
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.profile svg {
	cursor: pointer;
}
.profile a {
	font-size: 0.9em;
	color: gray;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}
#content {
	padding: 1rem;
	background-color: rgba(255, 255, 243, 0.68);
	width: 100%;
}
