/*Contact*/
.h1 {
	text-align: center;
	font-size: 3rem;
	font-family: cursive;
	font-weight: 100;
}
#contact {
	position: relative;
}
#contactBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 32px;
}
#contactBox label {
	margin: 3px 3px;
}
#contactBox input,
#contactBox textarea,
#decotare {
	padding: 2px 6px;
	height: 30px;
	width: 100%;
	margin: 3px 6px;
	border-radius: 5px;
	border-style: none;
	box-shadow: 0px 0px 15px 1px rgb(233, 209, 209);
}
#submitButton {
	background-color: #5027dd7a;
	cursor: pointer;
}
.form-group {
	padding: 3px;
}
.form-group label {
	color: rgb(22, 41, 94);
	font-weight: 600;
}
form {
	width: 70%;
}
.no_decoration {
	padding: default;
	height: default;
	width: default;
	margin: default;
	border-radius: default;
	border-style: default;
	box-shadow: 0px 0px 15px 1px rgb(233, 209, 209);
}
