.h1 {
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    font-weight: 100;
}
#classesTiming {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 15px 0px 15px 0px;
}
.eachTiming > div {
    padding: 4px 7px;
}
