#lookImg {
	font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	min-height: 90vh;

	background: url("./assets/pictures/bg_.jpg");
	background-repeat: no-repeat;
	background-position-y: top;
	background-position-x: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	opacity: 0.75;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	padding-inline: 1em;
}
#lookImg > p {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
	margin-top: 0.5em;
}
#lookImg div {
	margin: auto 0px;
	text-align: center;
}
section#lookImg div p {
	text-align: center;
	font-family: cursive;
	font-size: 20px;
	margin: auto 0px;
}

/*Main body*/
#main_heading {
	padding: 3rem 0.5rem;
}
.styleHeading {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}
#main_heading #main {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	overflow: auto;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 10px;
	justify-content: space-around;
}
div.card {
	border: 2px solid black;
	margin: 5px;
	padding: 1.25rem;
	border-radius: 8px;
	min-width: 350px;
	flex: 1 1;
	transition: all 200ms ease-in-out;
}
.card:hover {
	border: 2px solid rgb(28, 28, 28);
	box-shadow:
		rgba(0, 0, 0, 0.1) 0px 4px 12px,
		0 0 7px -1px rgb(1, 1, 142);
}
div.card h3 {
	padding-bottom: 5px;
}
div.candance {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	gap: 16px;
}
div.candance div:last-of-type {
	display: flex;
	flex-direction: column;
}
div.candance div:last-of-type p {
	padding: 5px;
}
.imges {
	width: 100%;
	height: auto;
	flex: 1;
}
.imges img {
	width: 100%;
	height: auto;
	min-width: 65px;
}

/*sponsors*/
section#sponsors {
    background-color: #f5eff8;
    text-align: center;
    padding: 3rem 0.5rem;
}
#sponsorsCards {
	display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding-block: 1.75rem;
}
section#sponsors > .styleHeading {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    /* padding-block: 1rem; */
}
section#sponsors h2 {
	font-size: 2.7rem;
	margin-bottom: 1rem;
	color: #1c2333;
	color: #1c2333;
}
section#sponsors div img {
	min-width: 100px;
	max-width: 135px;
	height: auto;
}
section#sponsors div img:hover {
	transition: all 100ms ease;
	filter: drop-shadow(2px 2px 6px rgba(27, 156, 126, 0.748));
}


