<!DOCTYPE html>
<html lang="en">

<head>
    <title>Apply for class</title>
    <link rel="stylesheet" href="../assets/StyleApply.css">
</head>


<body>
    <div id="heading">Pandey Dance Academy</div>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/apply">Apply</a></li>
            <li class="item"><a href="/class_info">Classes</a></li>
            <li class="item"><a href="/#sponsers">Sponsers</a></li>
            <li class="item"><a href="/Contact">Contact</a></li>
        </ul>
    </nav>
    <h1 class="h1">Apply for classes</h1>
    <div id="contact-box">
        <form action="/apply" method="post">
            <div class="form-group"><label for="name">Full Name: </label><input id="name" type="text" name="name"
                    placeholder="Enter your name" /></div>
            <div class="form-group"><label for="gender">Gender:</label><select id="decotare" name="gender">
                    <option value="" disabled="" selected="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Others</option>
                </select></div>
            <div class="form-group"><label for="danceForm">Choose a Dance Form:</label><select id="decotare"
                    name="danceForm">
                    <option value="" disabled="" selected="">Select a Dance form</option>
                    <option value="Belly dance">Belly dance</option>
                    <option value="Gangnam Style">Gangnam Style</option>
                    <option value="Yangko Dance">Yangko Dance</option>
                    <option value="Salsa">Salsa</option>
                    <option value="Ballet">Ballet</option>
                    <option value="Kathak">Kathak</option>
                    <option value="B-boying">B-boying</option>
                    <option value="Break Dance">Break Dance</option>
                    <option value="Line dance">Line dance</option>
                </select></div>
            <div class="form-group"><label for="e-main-id">E-mail: </label><input id="e-main-id" type="email"
                    name="e-main-id" placeholder="Enter your e-mail id" /></div>
            <div class="form-group"><label for="phone_no">Phone no: </label><input id="tele-no" type="tel" name="phn_no"
                    placeholder="Enter contact number" /></div>
            <div class="form-group"><label for="gardien_phone_no.">Gardien contact no: </label><input id="tele-no"
                    type="tel" name="gardien_phone_no" placeholder="Enter Gardien contact number" /></div>
            <div class="form-group"><label for="address">Address: </label><input id="tele-no" type="text" name="address"
                    placeholder="Enter address" /></div>
            <div class="form-group"><label for="e-main-id">Some extra details:</label><i>(optional) </i><textarea
                    id="message" name="extra detail" rows="7" cols="20"
                    placeholder="Enter something you want to say."></textarea></div><input type="submit" value="Apply"
                id="submitButton" />
        </form>
    </div>
</body>

</html>