<!DOCTYPE html>
<html lang="en">

<head>
    <title>dfkshjdf</title>
    <link rel="stylesheet" href="../assets/StyleClasses.css">
</head>

<body>
    <div id="heading">Pandey Dance Academy</div>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/apply">Apply</a></li>
            <li class="item"><a href="/class_info">Classes</a></li>
            <li class="item"><a href="/#sponsers">Sponsers</a></li>
            <li class="item"><a href="/Contact">Contact</a></li>
        </ul>
    </nav>
    <h1 class="h1">Class timings </h1>

    <div id="classesTiming">
        <div>
            <h2>Morning classes</h2>
            <div class="eachTiming">
                <div>10:00 am -- 11:00 pm</div>
                <div>11:30 am -- 01:00 pm</div>
                <div>01:30 pm -- 3:00 pm <i>(new batch)</i></div>
            </div>
        </div>
        <div>
            <h2>Evening classes</h2>
            <div class="eachTiming">
                <div>3:30 pm -- 5:00 pm</div>
                <div>05:30 pm -- 07:00 pm</div>
                <div>7:30 pm -- 9:00 pm</div>
            </div>
        </div>
    </div>
    <div id="newBatchSoon" style="font-size:23px; font-family:Yeon Sung">New batches soon</div>
    <footer id="footer">
        <p>Copyright @2020 | Pandey Dance Academy.com | All right reserved</p>
    </footer>
</body>

</html>