<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="../assets/StyleContact.css">
</head>

<body>
    <div id="heading">Pandey Dance Academy</div>
    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/apply">Apply</a></li>
            <li class="item"><a href="/class_info">Classes</a></li>
            <li class="item"><a href="/#sponsers">Sponsors</a></li>
            <li class="item"><a href="/Contact">Contact</a></li>
        </ul>
    </nav>
    <h1 class="h1">Contact</h1>
    <div id="contact-box">
        <form action="/Contact" method="post">
            <div class="form-group"><label for="name">Name: </label><input id="name" type="text" name="name"
                    placeholder="Enter your name" /></div>
            <div class="form-group"><label for="e-main-id">E-mail: </label><input id="e-main-id" type="email"
                    name="e-main-id" placeholder="Enter your e-mail id" /></div>
            <div class="form-group"><label for="e-main-id">Phone no: </label><input id="tele-no" type="tel"
                    name="phn_no" placeholder="Enter contact number" /></div>
            <div class="form-group"><label for="e-main-id">Message: </label><textarea id="message" name="concern"
                    rows="7" cols="20" placeholder="Enter some message"></textarea></div><input type="submit"
                value="Submit" id="submitButton" />
        </form>
    </div>
    <footer id="footer">
        <p>Copyright @2020 | Pandey Dance Academy.com | All right reserved</p>
    </footer>
</body>

</html>