<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance india dance</title>
  <link rel="stylesheet" href="../assets/Style.css">
</head>

<body>
  <div id="heading">Pandey Dance Academy</div>
  <nav id="navbar">
    <ul>
      <li class="item"><a href="/">Home</a></li>
      <li class="item"><a href="/apply">Apply</a></li>
      <li class="item"><a href="/class_info">Classes</a></li>
      <li class="item"><a href="/#sponsers">Sponsers</a></li>
      <li class="item"><a href="/Contact">Contact</a></li>
    </ul>
  </nav>
  <section id="lookImg">
    <div> Welcome to Pandey Dance Academy.com
      <p>Free feel to dance and dance to feel free.</p>
    </div>
  </section>
  <div id="main_heading">Types of Dance Styles
    <section id="main">
      <div class="card">
        <h2>Hip Hop</h2>
        <div class="candance">
          <div class="imges"><img src="../assets/pictures/logo-1.png" alt="dadf"></div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>Zumbaa</h2>
        <div class="candance">
          <div class="imges"><img src="/assets/pictures/logo-2.png" alt="" srcset="" /></div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>Free Dancing</h2>
        <div class="candance">
          <div class="imges"><img src="/assets/pictures/logo-3.png" alt="" srcset="" /></div>
          <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="sponsers">
    <h2>Sponsers</h2>
    <div>
      <div><img src="/assets/pictures/amaz.png" alt="" srcset=""></div>
      <div><img src="/assets/pictures/fb.png" alt="" srcset=""></div>
      <div><img src="/assets/pictures/AWS.png" alt="" srcset=""></div>
      <div><img src="/assets/pictures/aws2.png" alt="" srcset=""></div>
      <div><img src="/assets/pictures/Vic.png" alt="" srcset=""></div>
    </div>
  </section>
  <section id="about">
    <div> </div>
    <p> <b>Address: </b><span>Building no-43, near mate park, Saket, new Delhi-110002</span></p>
    <p> <b>Date of Stablished:</b><span>15 January 1998</span></p>
    <p> <b>Owner: </b><i>Ujjwal Pandey</i></p>
    <p> <b>Mail: </b><span>PandeyDanceAcademy@gmail.com</span></p>
    <p> <b>Contact no: </b><span>001-987-543 , +91-987654321</span></p>
  </section>
  <footer id="footer">
    <p>Copyright @2020 | Pandey Dance Academy.com | All right reserved</p>
  </footer>
</body>